{{ range .Site.Data.education.education }}
{{ .Page.RenderString (printf '{{< animatedTile header="{{ .name }}" subheader="{{ .organization }}" subheader2="Issued {{ .issued_date }}, Expires {{ .expiry_date }}" animationClass="quick-slide-across-in-animation" animationDelay=0 >}}')}}

<div id="contentContainer">
<span id="more1" class="text-sm" style = "display:none">
The Atlassian Cloud Organization Admin Certification is intended for administrators of Atlassian Cloud organizations. The candidate is able to manage user and group access to Atlassian products across multiple Cloud sites, including managed and unmanaged accounts. They understand various access methods such as domains, invitation links, and user invites. They are also able to configure admin APIs, application tunnels, release tracks, sandboxes, and IP allowlisting.
</span>
<a href="javascript:showMore('1', true)" id="expandLink1" class="quick-fade-in-animation" style="--delay: 550ms""> ▽ About This Certification ▽ </a>
<a href="javascript:showMore('1', false)" id="collapseLink1" style="display:none"> △ Hide △ </a>
<div class="quick-fade-in-animation" style="--delay: 100ms">
{{ .Page.RenderString (printf '{{< keywordList >}}') }}
{{ .Page.RenderString (printf '{{< keyword >}}Jira{{< /keyword >}}') }}
{{ .Page.RenderString (printf '{{< keyword >}}Confluence{{< /keyword >}}') }}
{{ .Page.RenderString (printf '{{< keyword >}}Organization Administration{{< /keyword >}}') }}
{{ .Page.RenderString (printf '{{< /keywordList >}}') }}
</div>
</div>
{{ .Page.RenderString (printf '{{< /animatedTile>}}') }}
{{ end }}