@font-face {
	font-family: zenLoop;
	src: url('/fonts/ZenLoop-Regular.ttf');
}

@font-face {
	font-family: openSans;
	src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

h1 {
	font-family: zenLoop;
}

html {
	font-family: openSans;
	font-weight: 300;
}

.blurry {
	backdrop-filter: blur(10px);
}

.width100 {
	width: 100%;
}

.height100 {
	height: 100%;
}

.display-none {
	display: none;
}


.pb-1rem {
	padding-bottom: 1rem;
}

.pt-1rem {
	padding-top: 1rem;
}

.pl-2rem {
	padding-left: 2rem;
}

.pr-2rem {
	padding-right: 2rem;
}

.ml-3rem {
	margin-left: 3rem;
}

.mr-3rem {
	margin-right: 3rem;
}

.justify-self-center {
	justify-self: center;
}

.text-center {
	text-align: center;
}

.auto-height {
	height: auto;
}

.text-4xl {
	font-size: 3rem;
	line-height: 3.5rem;
	letter-spacing: 0.1rem;
}

.zenLoop {
	font-family: zenLoop;
}

.text-3xl {
	font-size: 2rem;
	line-height: 2.5rem;
	letter-spacing: 0.1rem;
}

#form-container {
	justify-content: center;
	align-items: start;
}

.logo svg {
	height: 6rem;
	width: 15rem;
}

form {
	padding: 30px;
	max-width: 500px;
	width: 100%;
}

.form-group:last-of-type {
	display: flex;
	justify-content: center;
}

input.form-control {
	border-radius: 5px;
	padding: 15px;
	font-size: 1.1rem;
	width: 100%;
	color: rgb(var(--color-neutral-700));
}

textarea.form-control {
	border-radius: 5px;
	padding: 15px;
	font-size: 1.1rem;
	width: 100%;
	color: rgb(var(--color-neutral-700));
	height: 100px;
}

.form-group {
	margin-bottom: 20px;
	margin-top: 20px;
}

.contact-column-left {
	margin-top: 30px;
	margin-right: 40px;
	flex: 48%;
	flex-direction: column;
	justify-content: start;
	display: flex;
}

.contact-column-right {
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 40px;
	flex: 48%;
	flex-direction: column;
	justify-content: center;
	display: flex;
}

.contact-column-divider {
	margin-right: 0px;
	flex: 4%;
	flex-direction: column;
	justify-content: center;
	display: flex;
}

.row {
	display: flex;
	flex-direction: row;
}

.education-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
	.education-grid {
		display: grid;
		grid-template-columns: 1fr
	}

	.row {
		flex-direction: column;
	}

	.contact-column-left {
		margin: 0;
		flex: 50%;
		flex-direction: column;
		display: flex;
		padding-left: 30px;
		padding-right: 30px;
	}

	.contact-column-divider {
		margin: 0;
		flex: 0%;
		flex-direction: column;
		display: flex;
	}

	.contact-column-right {
		margin: 0;
		flex: 50%;
		flex-direction: column;
		display: flex;
	}
}

.contact-body {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	font-size: 1.1rem;
}

.large-thankyou-emoji {
	font-size: 10rem;
	margin: 0;
	width: fit-content;
	height: fit-content;

}

.contact-column-dividing-line {
	border-left: 1px solid rgb(var(--color-primary-500));
	border-right: 1px solid rgb(var(--color-primary-500));
	height: 66%;
}

@media (prefers-color-scheme: dark) {
	.contact-column-dividing-line {
		border-left: 1px solid rgb(var(--color-primary-800));
		border-right: 1px solid rgb(var(--color-primary-800));
		height: 66%;
	}
}

.opacity-80 {
	opacity: 0.8;
}

.animated-text {
	animation: fadeInSide 0.3s ease-in forwards;
}

@keyframes fadeInSideWithWipe {
	from {
		opacity: 0;
		transform: translateX(5px);
		max-height: 0px;
	}

	to {
		opacity: 1;
		transform: translateX(0);
		max-height: 1000px;
	}
}

@keyframes fadeOutSideWithWipe {
	from {
		opacity: 1;
		transform: translateX(0px);
		max-height: 1000px;
	}

	to {
		opacity: 0;
		transform: translateX(5px);
		max-height: 0px;
	}
}

@keyframes fadeInSide {
	from {
		opacity: 0;
		transform: translateX(5px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.slow-wipe-in-animation {
	animation: fadeInSideWithWipe 0.5s ease-in-out forwards;
}

.slow-wipe-out-animation {
	animation: fadeOutSideWithWipe 0.5s ease-in-out forwards;
}

.quick-slide-across-in-animation {
	opacity: 0;
	animation: fadeInSide 0.3s ease-in var(--delay, 0ms) forwards;
}

.slide-in-list-animation>* {
	opacity: 0;
	animation: fadeInSide 0.3s ease-in var(--delay, 0ms) forwards;
}

.quick-fade-in-animation {
	opacity: 0;
	animation: fadeIn 0.3s ease-in var(--delay, 0ms) forwards;
}

@keyframes fadeInHalf {
	from {
		opacity: 0;
	}

	to {
		opacity: 0.5;
	}
}

.quick-fade-in-animation-disabled {
	opacity: 0;
	animation: fadeInHalf 0.3s ease-in var(--delay, 0ms) forwards;
}

.max-w-full {
	max-width: 100%;
	height: 100%;
	align-content: center;
}

#contentContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}

#contentContainer a {
	text-align: center;
	padding-bottom: 8px;
}

ul {
	padding-top: 10px;
	list-style-position: inside;
}

.disabled::marker {
	color: var(--color-neutral-300);
}



.prose {
	--tw-prose-body: rgba(var(--color-neutral-700), 1);
	--tw-prose-headings: rgba(var(--color-neutral-800), 1);
	--tw-prose-lead: rgba(var(--color-neutral-500), 1);
	--tw-prose-links: rgba(var(--color-primary-600), 1);
	--tw-prose-bold: rgba(var(--color-neutral-900), 1);
	--tw-prose-counters: rgba(var(--color-neutral-800), 1);
	--tw-prose-bullets: rgba(var(--color-neutral-500), 1);
	--tw-prose-hr: rgba(var(--color-neutral-200), 1);
	--tw-prose-quotes: rgba(var(--color-neutral-700), 1);
	--tw-prose-quote-borders: rgba(var(--color-primary-200), 1);
	--tw-prose-captions: rgba(var(--color-neutral-500), 1);
	--tw-prose-kbd: #111827;
	--tw-prose-kbd-shadows: 17 24 39;
	--tw-prose-code: rgba(var(--color-secondary-700), 1);
	--tw-prose-pre-code: rgba(var(--color-neutral-700), 1);
	--tw-prose-pre-bg: rgba(var(--color-neutral-50), 1);
	--tw-prose-th-borders: rgba(var(--color-neutral-500), 1);
	--tw-prose-td-borders: rgba(var(--color-neutral-300), 1);
	--tw-prose-invert-body: rgba(var(--color-neutral-200), 1);
	--tw-prose-invert-headings: rgba(var(--color-neutral-50), 1);
	--tw-prose-invert-lead: rgba(var(--color-neutral-500), 1);
	--tw-prose-invert-links: rgba(var(--color-primary-400), 1);
	--tw-prose-invert-bold: rgba(var(--color-neutral), 1);
	--tw-prose-invert-counters: rgba(var(--color-neutral-400), 1);
	--tw-prose-invert-bullets: rgba(var(--color-neutral-400), 1);
	--tw-prose-invert-hr: rgba(var(--color-neutral-500), 1);
	--tw-prose-invert-quotes: rgba(var(--color-neutral-200), 1);
	--tw-prose-invert-quote-borders: rgba(var(--color-primary-900), 1);
	--tw-prose-invert-captions: rgba(var(--color-neutral-400), 1);
	--tw-prose-invert-kbd: #fff;
	--tw-prose-invert-kbd-shadows: 255 255 255;
	--tw-prose-invert-code: rgba(var(--color-secondary-400), 1);
	--tw-prose-invert-pre-code: rgba(var(--color-neutral-200), 1);
	--tw-prose-invert-pre-bg: rgba(var(--color-neutral-700), 1);
	--tw-prose-invert-th-borders: rgba(var(--color-neutral-500), 1);
	--tw-prose-invert-td-borders: rgba(var(--color-neutral-700), 1);
	font-size: 1rem;
	line-height: 1.75
}