{{ $delay1 := mul .index 100}} {{ $delay2 := add $delay1 100}} {{ $delay3 := add
$delay2 100}}{{ $delay4 := add $delay3 100}}

<div class="flex auto-height width100">
	<div
		class="block blurry p-6 rounded-lg shadow-2xl break-words auto-height width100 ml-3 mr-3 mb-1"
	>
		<div>
			<h2
				class="mt-0 mb-2 quick-fade-in-animation text-neutral-500 dark:text-neutral-100 text-xl text-center justify-self-center"
				style="--delay: {{ $delay1 }}ms"
			>
				{{ .name }}
			</h2>
			<h3
				class="mt-0 quick-fade-in-animation text-primary-600 dark:text-primary-400 text-sm justify-self-center"
				style="--delay: {{ $delay2 }}ms;"
			>
				{{ .organization }}
				<span class="text-neutral-500 dark:text-neutral-100"
					>| {{ .issued_date }} {{if .expiry_date }} - {{ .expiry_date }} {{ end
					}}</span
				>
			</h3>
		</div>
		<div class="mb-6 quick-fade-in-animation" style="--delay: {{ $delay3 }}ms;">
			<ul>
				{{ range .description }}
				<li>{{ . }}</li>
				{{ end }}
			</ul>
		</div>
		<span
			class="flex quick-fade-in-animation justify-self-center"
			style="--delay: {{ $delay4 }}ms;"
		>
			<span
				class="rounded-md border border-primary-400 px-1 py-[1px] text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400"
			>
				<a href="{{ .link }}" target="_blank">Link to Certificate </a>
			</span>
		</span>
	</div>
</div>
