{{ $delay1 := mul .index 100}} {{ $delay2 := add $delay1 100}} {{ $delay3 := add
$delay2 100}}

<div class="flex" style="height: auto; width: 100%">
	<div
		class="block blurry p-6 rounded-lg shadow-2xl break-words"
		style="
			height: auto;
			width: 100%;
			margin-left: 3rem;
			margin-right: 3rem;
			margin-bottom: 1rem;
		"
	>
		<div>
			<h3
				class="mt-0 mb-2 quick-fade-in-animation text-neutral-500 dark:text-neutral-100 text-2xl lightweight"
				style="--delay: {{ $delay1 }}ms;"
			>
				{{ .name }}
			</h3>
			<h4
				class="mt-0 quick-fade-in-animation text-neutral-400 dark:text-neutral-20000 text-lg lightweight"
				style="--delay: {{ $delay2 }}ms;"
			>
				{{ .line2 }}
			</h4>
			<h5
				class="mt-0 quick-fade-in-animation text-primary-600 dark:text-primary-400 lightweight"
				style="--delay: {{ $delay3 }}ms;"
			>
				{{ .organization }}
				<span class="text-neutral-500 dark:text-neutral-100"
					>| {{ .issued_date }} {{if .expiry_date }} - {{ .expiry_date }} {{ end
					}}</span
				>
			</h5>
		</div>
	</div>
</div>
