{{ $delay1 := mul .index 100}} {{ $delay2 := add $delay1 100}} {{ $delay3 := add
$delay2 100}} {{ $delay4 := add $delay3 100}}

<div class="flex" style="height: auto; width: 100%">
	<div
		class="block blurry p-6 rounded-lg shadow-2xl break-words"
		style="
			height: auto;
			width: 100%;
			margin-left: 3rem;
			margin-right: 3rem;
			margin-bottom: 4rem;
		"
	>
		<div>
			<h2
				class="mt-0 mb-2 quick-fade-in-animation-disabled text-neutral-500 dark:text-neutral-100 text-xl"
				style="--delay: {{ $delay1 }}ms; justify-self: center; text-align: center;"
			>
				{{ .name }}
			</h2>
			<h3
				class="mt-0 quick-fade-in-animation-disabled text-primary-600 dark:text-primary-400 text-sm"
				style="--delay: {{ $delay2 }}ms; justify-self: center;"
			>
				{{ .organization }}
				<span class="text-neutral-300 dark:text-neutral-100"
					>| {{ .issued_date }} {{if .expiry_date }} - {{ .expiry_date }} {{ end
					}}</span
				>
			</h3>
		</div>
		<div
			class="mb-6 quick-fade-in-animation-disabled"
			style="--delay: {{ $delay3 }}ms;"
		>
			<ul>
				{{ range .description }}
				<li class="disabled">{{ . }}</li>
				{{ end }}
			</ul>
		</div>
		<span
			class="flex quick-fade-in-animation-disabled"
			style="--delay: {{ $delay4 }}ms; cursor: pointer; justify-self: center"
		>
			<span
				class="rounded-md border border-primary-400 px-1 py-[1px] text-xs font-normal text-primary-700 dark:border-primary-600 dark:text-primary-400"
			>
				Expired
			</span>
		</span>
	</div>
</div>
