{{ $icon := .Get "icon" | default "check" }} {{ $header := .Get "header" }} {{
$badge := .Get "badge" }} {{ $subheader := .Get "subheader" }} {{ $text := .Get
"text" }} {{ $animationClass := .Get "animationClass" }} {{ if not
$animationClass }} {{ $animationClass = "" }} {{ end }} {{ $animationDelay :=
.Get "animationDelay" }} {{ if not $animationDelay }} {{ $animationDelay = 0 }}
{{ end }} {{ $secondAnimationDelay := add $animationDelay 50 }} {{ $firstDelay
:= printf "%dms" $animationDelay }} {{ $secondDelay := printf "%dms"
$secondAnimationDelay }}

<li>
	<div class="flex flex-start">
		<div
			class="resume-animate-showmore bg-primary-500 dark:bg-primary-300 text-neutral-50 dark:text-neutral-700 min-w-[30px] h-8 text-2xl flex items-center justify-center rounded-full -ml-12 mt-5"
			style="--delay: {{ $firstDelay }}"
		>
			{{ partial "icon" $icon }}
		</div>
		<div
			class="block p-6 rounded-lg shadow-2xl min-w-full ml-6 mb-10 break-words"
		>
			<div class="flex justify-between">
				{{ if $header }}
				<h2
					class="mt-0 {{ $animationClass }}"
					style="--delay: {{ $firstDelay }}"
				>
					{{ $header }}
				</h2>
				{{ end }} {{ if $badge }}
				<h3 class="{{ $animationClass }}" style="--delay: {{ $firstDelay }}">
					{{ partial "badge" $badge}}
				</h3>
				{{ end }}
			</div>
			{{ if $subheader }}
			<h3
				class="{{ $animationClass }}"
				style="--delay: {{ $secondDelay }};  margin-top: 0"
			>
				{{ $subheader }}
			</h3>
			{{ end }}
			<div class="mb-6">{{- .Inner -}}</div>
		</div>
	</div>
</li>
