{{ $icon := .Get "icon" | default "check" }} {{ $header := .Get "header" }} {{
$badge := .Get "badge" }} {{ $subheader := .Get "subheader" }} {{ $text := .Get
"text" }} {{ $animationClass := .Get "animationClass" }} {{ if not
$animationClass }} {{ $animationClass = "" }} {{ end }} {{ $animationDelay :=
.Get "animationDelay" }} {{ if not $animationDelay }} {{ $animationDelay = 0 }}
{{ end }} {{ $secondAnimationDelay := add $animationDelay 50 }} {{ $firstDelay
:= printf "%dms" $animationDelay }} {{ $secondDelay := printf "%dms"
$secondAnimationDelay }} {{ $subheader2 := .Get "subheader2" }}

<div class="flex" style="height: auto">
	<div
		class="block blurry p-6 rounded-lg shadow-2xl ml-6 mb-10 break-words"
		style="height: auto"
	>
		<div>
			{{ if $header }}
			<h2
				class="mt-0 {{ $animationClass }}"
				style="--delay: {{ $firstDelay }}; align-self: center"
			>
				{{ $header }}
			</h2>
			{{ end }}
		</div>
		<div class="flex flex-row justify-between">
			{{ if $subheader }}
			<h3
				class="{{ $animationClass }}"
				style="--delay: {{ $secondDelay }};  margin-top: 0"
			>
				{{ $subheader }}
			</h3>
			{{ end }} {{ if $subheader2 }}
			<h4
				class="{{ $animationClass }}"
				style="--delay: {{ $secondDelay }};  margin-top: 0; font-style: italic;"
			>
				{{ $subheader2 }}
			</h4>
			{{ end }}
		</div>

		<div class="mb-6">{{- .Inner -}}</div>
	</div>
</div>
